version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:22.21
    steps:
      - checkout
      - run: cd assemblyscript && yarn
      - run: cd assemblyscript && yarn asc helloworld.ts -b helloworld.wasm -t helloworld.wat
